<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to Text Utilities</h1>
<form action='/analyze', method='get'>
    <textarea name='text' style='margin: 0px; width: 678px; height: 180px;'></textarea><br/>
    <input type="checkbox" name="remove_punctuation">remove punctuation</input><br/>
    <input type="checkbox" name="uppercase">Uppercase</input><br/>
    <input type="checkbox" name="remove_newline">Remove Newline</input><br/>
    <input type="checkbox" name="remove_extra_space">Remove Extra Space</input><br/>
    <input type="checkbox" name="char_count">Character Count</input><br/>
    <button type='submit'>Analyze Text</button>

</form>

</body>
</html>