{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}


<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">My Awesome Cart!</h1>
            <p>Amazing is an Indian e-commerce company based in CCCCC, SSSSS, COCOC. It was founded by XYZ
                and PQR in 2020. The company initially focused on book sales, before expanding into
                other product categories such as consumer electronics, fashion, home essentials & groceries, and
                lifestyle products.

                The service competes primarily with Amazon's Indian subsidiary, and the domestic rival Snapdeal.
                As of March 2017, Amazing held a 39.5% market share of India's e-commerce industry. Amazing is
                significantly dominant in the sale of apparel (a position that was bolstered by its acquisition of
                Myntra), and was described as being "neck and neck" with Amazon in the sale of electronics and mobile
                phones. Flipkart also owns PhonePe, a mobile payments service based on the Unified Payments
                Interface (UPI).
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>PPPPP</h2>
                <p></p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>MMMMM</h2>
                <p></p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>IIIII</h2>
                <p></p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>


{% endblock %}
